# ===== System =====
.DS_Store
.Rhistory
# ===== Python =====
__pycache__/
*.pyc
*.pyo



# ===== Virtual env =====
venv/
.env/

# ===== Models / Weights =====
*.pkl
*.pt
*.pth
*.h5
*.ckpt

# ===== Embeddings / Index =====
embeddings/
assests/
*.ann
*.faiss

# ===== Content =====
content/
weights/
*.zip
# ===== Logs / Outputs =====
runs/
logs/
outputs/
results/

# ===== Docker local =====
.env
